* {
	box-sizing: border-box;
	margin: 0;
}
.wrapper {
	
}
.clock {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.clock-border {
	border-radius: 50%;
	border: 10px solid #000;
	width: 320px;
	height: 320px;
	text-align: center;
	position: relative;
	box-shadow: 4px 4px 12px 0px rgba(50, 50, 50, 0.75), inset 4px 4px 12px 0px rgba(50, 50, 50, 0.75);
	background-color: 
}
.class-inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hour, .minute, .second, .alarm, .clock-center {
	position: absolute;
	display: inline-block;
	bottom: 50%;
	transform-origin: center 100%;
	transition: transform .7s ease-in-out;
}

.clock-center {
	top: 50%;
	left: 50%;
	transform: translate(-30%, -50%);
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 5px solid #000;
}

.hour {
	border: 3px solid #000;
	width: 0px;
	height: 90px;
}

.minute {
	border: 2px solid #000;
	width: 0px;
	height: 100px;
}

.second {
	border: 1px solid red;
	width: 0px;
	height: 110px;
}
.alarm {
	border: 2px solid orange;
	width: 0px;
	height: 85px;	
}
.clock-char {
	position: absolute;
	left: 47.6%;
}
.char {
	display: inline-block;
	position: absolute;
	padding-bottom: 260px;
	font-size: 30px;
}
.letter {
	display: inline-block;
}
.show {
	display: inline-block;
}
.clock-digital {
	position: absolute;
	top: 47%;
	left: 50px;
	box-shadow: inset 4px 4px 12px 0px rgba(50, 50, 50, 0.75);
}
.notransition {
	transition: none;
}